<launch>
	<arg name="output" default="log"/>
	<arg name="publish_clock" default="true"/>
	<arg name="is_vulkan" default="false"/>
	<arg name="host" default="127.0.0.1" />
	<arg name="update_period" default="0.01"/>
	<arg name="image_update_period" default="0.025"/>



	<!-- Initialize /use_sim_time to False -->
	<param name="/use_sim_time" value="False" />

	<node name="airsim_node" pkg="airsim_ros_pkgs" type="airsim_node" output="$(arg output)">
		<param name="is_vulkan" type="bool" value="$(arg is_vulkan)" /> 
		<!-- ROS timer rates. Note that timer callback will be processed at maximum possible rate, upperbounded by the following ROS params -->
		<param name="update_airsim_img_response_every_n_sec" type="double" value="$(arg image_update_period)" /> 
		<param name="update_airsim_control_every_n_sec" type="double" value="$(arg update_period)" />
		<param name="update_lidar_every_n_sec" type="double" value="0.01" />
		<param name="publish_clock" type="bool" value="$(arg publish_clock)" />
		<param name="host_ip" type="string" value="$(arg host)" />
	</node>

	<!-- Static transforms -->
	<include file="$(find airsim_ros_pkgs)/launch/static_transforms.launch"/>
	
	<!-- Wait a second and set /use_sim_time to True -->
	<node name="sim_time_setter" pkg="airsim_ros_cntrl" type="set_sim_time.sh" />



</launch>
